.dashboard-page-container {
    display: grid;
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
}

.quizzes-container {
    display: grid;
    gap: 1rem;
    background-color: white;
    justify-self: center;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    max-width: 1400px;
}

.dashboard-title-container {
    display: grid;
    max-width: 1400px;
    justify-self: center;
    background-color: rgb(242, 251, 255);
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.dashboard-title {
    font-size: 24px;
    font-weight: 500;
    color: #434E4E;
    margin: 0 0 0 0;
}

.dashboard-info-subtitle {
    margin: 0 0 0 0;
    justify-self: start;
    border-radius: 5px;
}

.dashboard-quiz-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.dashboard-no-quizzes-container {
    justify-self: center;
    display: flex;
    gap: 2rem;
}

.dashboard-no-quizzes-text-container {
    /* display: grid; */
}

.dashboard-no-quizzes-title {
    color: #F9A826;
    font-size: 24px;
    font-weight: 500;
}

.dashboard-no-quizzes-message {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

@media (min-width: 800px) and (max-width: 4800px) {
    .dashboard-quiz-list {
        grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
    }
}