.scorekeep-div {
    display: grid;
    max-width: 1400px;
    justify-content: center;
    /* border: 5px green solid; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0.5rem;
    gap: 1rem;
    grid-template-areas: 
    'scoreBar scoreBar scoreBar questionBar'
    'scoreTable scoreTable scoreTable timeBar'
    'scoreTable scoreTable scoreTable .'
}