.navbar-div {
    background-color: white;
}

.navbar-div-content {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    background-color: white;
    padding: 0.5rem 1rem;
    max-width: 1400px;
    margin: auto;
}

.navbar-div a {
    text-decoration: none;
    align-self: center;
    justify-self: start
}

.navbar-logo {
    font-weight: bolder;
    font-size: 20px;
    margin: 0 0 0 0;
    justify-self: start;
}

.navbar-links-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 2rem;
    justify-self: end;
}

.navbar-link {
    align-self: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /* font-weight: bold; */
    color: #434E4E;
    justify-self: end;
}

.navbar-link:hover {
    color: #2563EB;
    cursor: pointer;
}

.navbar-login {
    justify-self: end;
}

.navbar-user-avatar {
    justify-self: end;
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.navbar-user-dropdown-button {
    border: none;
    background-color: transparent;
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}