.questionbar-div {
    display: grid;
    grid-area: questionBar;
    align-self: end;
    background-color: cornflowerblue;
    color: white;
    /* background: rgb(235, 235, 235); */
    padding: 1rem;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.questionbar-div p {
    display: grid;
    align-self: center;
}