.questionbar-div {
    grid-area: questionBar;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-self: start;
    background-color: rgb(45, 68, 110);
    color: white;
    padding: 5px;
    margin: 0.5rem 0 0 0;
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.questionbar-count {
    align-self: start;
    margin: 0 0 0 0;
    display: grid;
    align-self: center;
    font-size: 20px;
}

.questionbar-button {
    align-self: start;
    margin: 0 0 0 0;
    padding: 3px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(18, 41, 82);
    color: white;
}

.questionbar-button:hover {
    background-color: #2563EB;
}