.scorebar-div {
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.25rem;
    color: rgb(67, 78, 78);
    padding: 1rem;
    margin: 0.5rem 0 0 0;
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 5px;
    grid-template-areas: 
    'rInfo yInfo'
    'rActions yActions';
}

.scorebar-div button {
    font-size: 13px;
}

.scorebar-r-info-div {
    grid-area: rInfo;
    display: flex;
    grid-auto-flow: column;
}

.scorebar-r-score {
    font-size: 28px;
    padding: 0 1rem;
    margin: 0 0 0 0;
    border-left: 4px solid red;
    justify-content: start;
}

.scorebar-r-name {
    font-size: 28px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    justify-content: start;
    width: 100%;
    color: black;
}

.scorebar-r-name:focus {
    outline: none;
}

.scorebar-y-info-div {
    grid-area: yInfo;
    display: flex;
    grid-auto-flow: column;
}

.scorebar-y-score {
    font-size: 28px;
    padding: 0 1rem;
    margin: 0 0 0 0;
    float: left;
    border-left: 4px solid yellow;
    justify-content: start;
}

.scorebar-y-name {
    font-size: 28px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    justify-content: start;
    width: 100%;
    color: black;
}

.scorebar-y-name:focus {
    outline: none;
}

.scorebar-r-actions {
    grid-area: rActions;
}

.scorebar-y-actions {
    grid-area: yActions;
}

.scorebar-menu-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-menu {
    padding: 5px;
}

.form-check :hover {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}

#bg-nested-dropdown::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}