.timebar-div {
    grid-area: timeBar;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    color: rgb(67, 78, 78);
    /* background: rgb(235, 235, 235); */
    padding: 1rem;
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 5px;
    text-align: center;
    grid-template-areas: 
    'timebarTitle'
    'timeProgressBar'
    'timebarButtons';
}

.timebar-time-title {
    grid-area: timebarTitle;
    align-self: start;
    font-size: 28px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.timebar-div button {
    grid-area: timebarButtons;
    align-self: start;
    font-size: 14px;
}

.timebar-btn:hover {
    background: lightslategray;
}

.timebar-btn:focus {
    background: orangered;
}