#toolbar-div {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem 0 1rem;
    margin: auto;
    max-width: 1400px;
}

.toolbar-button {
    background-color: #6c757d00;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: #6c757d;
}

.toolbar-button:hover {
    background-color: #6c757d;
    color: white;
}

.toolbar-button:focus {
    background-color: #6c757d;
    color: white;
}

.toolbar-data {
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 0 0;
    align-self: center;
}

.toolbar-badge {
    border: 1px solid rgb(156, 156, 156);
    border-radius: 3px;
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 0 0;
    padding: 3px 1rem;
    user-select: none;
}