.login-page-container {
    display: grid;
    padding: 1rem 1rem 1rem 1rem;
    height: calc(100vh - 46px);
}

.login-options-container {
    display: grid;
    gap: 1rem;
    justify-self: center;
    align-self: center;
    padding: 5rem 2rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

.login-options-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.login-options-subtitle {
    text-align: center;
    font-size: 18px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.login-arrow-down {
    font-size: 24px;
    text-align: center;
    justify-self: center;
}

.login-provider-button {
    display: flex;
    gap: 5px ;
    margin: 0 0 0 0;
    padding: 5px 1rem;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;
}

.login-provider-button:hover {
    background-color: cornflowerblue;
}

.provider-google-icon {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    align-self: center;
}